

* {
  font-family: "Prompt", sans-serif;
}

.font-satisfy {
  font-family: "Satisfy", cursive;
}

.font-mitr {
  font-family: "Mitr", sans-serif;
}

.shadow-custom {
  box-shadow: 0 0px 10px 5px #ffffff;
}

.text-shadow-custom {
  text-shadow: 1px 1px 5px #ffffff; 
}